<div class = 'body1'>
    <!-- Header -->
  <div class="demo">
    <nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">
      <img src='/assets/images/wp-logo.png' width="240" height = "240">
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" routerLink="/home">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" routerLink="/about" >ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" routerLink="/serviceprovided">SERVICES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" routerLink="/team">OUR TEAM</a>
                    </li>
                    
                </ul>
            </div>
            <div class="navbar align-self-center d-flex">
                <div class = "pro">
                  <nav>
                    <ul>
                      <li>
                        <i class="fa fa-fw fa-user text-dark mr-3"></i>
                        <span  class="position-absolute top-10 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
                        <ul>
                          <li class="sub-item">
                            <span class="material-icons-outlined"> <img src="../assets/images/menu.png"> </span>

                            <a class="nav-link" href="javascript:void(0)" routerLink="/booking-list">YOUR BOOKINGS</a>
                            
                          </li>
                          <li class="sub-item">
                             <span class="material-icons-outlined"> <img src="../assets/images/logout.png"> </span>
                            <a class="nav-link" href="javascript:void(0)" routerLink="/login">LOGUT</a>

                          </li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                </div>
            </div>
        </div>
    </div>
  </nav>
  <!-- Close Header -->
  <!-- Modal -->
  <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
  </div>
  </div>
  </div>
  
  
  
  