
 <!-- Start Banner Hero -->
 <app-header></app-header>
 <div class = 'ps'>
  <div id="template-mo-jassa-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="../assets/images/wp-1.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success" ><b>Wheel's,UP</b></h1><h2 style="font-size:35px; font-weight: 300;">At your Service....</h2>
                            <h3 class="h2">Our Motto</h3>
                            <p>
                              <img src="../assets/images/quotes-1.png">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="../assets/images/wp-4.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1"> Our Purpose</h1>
                            <p>
                              <img src="../assets/images/quotes-2.png">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="../assets/images/wp-5.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Our Propagation</h1>
                            <p>
                              <img src="../assets/images/quotes-3.png">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-jassa-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-jassa-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
  </div>
 </div>
<!-- End Banner Hero -->


<!-- About us starts -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

  <title>Frontend Mentor | Four card feature section</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
    rel="stylesheet">
</head>

<div class = "about_us">
  <div class="header">
    <h1>Reliable, efficient Service</h1>
    <h1>Easeness at Door-Step</h1>

  </div>
  <div class="row1-container">
    <div class="box box-down cyan">
      <h2>Expert Service</h2>
      <p>Skilled mechanics for your every need</p>
      <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
    </div>

    <div class="box red">
      <h2>Pick-Up & Drop</h2>
      <p>Service from the comfort of your home/office</p>
      <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
    </div>

    <div class="box box-down blue">
      <h2>Go Digital</h2>
      <p>Convenient online booking guarantee </p>
      
      <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
    </div>
  </div>
  <div class="row2-container">
    <div class="box orange">
      <h2>Our Promise</h2>
      <p>100% satisfaction guarantee</p>
      <img src="https://assets.codepen.io/2301174/icon-karma.svg" alt="">
    </div>
  </div>
</div>

<!-- timelines-->
<div class = "body2">
  <h2>Why Wheel's,Up</h2>
<div class="timeline">
  <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
    <div class="timeline__event__icon ">
      <i class="lni-cake"></i>
      &copy;
    </div>
    <div class="timeline__event__date">
    </div>
    <div class="timeline__event__content ">
     
      <div class="timeline__event__title">
        
      </div>
      <div class="timeline__event__description">
        <b>Certified repair services</b>
      </div>
    </div>
  </div>
  <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
    <div class="timeline__event__icon">
      <i class="lni-burger"></i>
      &#9733;

    </div>
    <div class="timeline__event__date">
      
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        
      </div>
      <div class="timeline__event__description">
        <b>Fair price repair estimates</b>
      </div>
    </div>
  </div>
  <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
    <div class="timeline__event__icon">
      <i class="lni-slim"></i>
      &#9735;

    </div>
    <div class="timeline__event__date">
      
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        
      </div>
      <div class="timeline__event__description">
        <b>Free Diagnostics & Brake Check</b>
      </div>

    </div>
  </div>
  <div class="timeline__event animated fadeInUp timeline__event--type1">
    <div class="timeline__event__icon">
      <i class="lni-cake"></i>
      &#x2302;

    </div>
    <div class="timeline__event__date">
     
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        
      </div>
      <div class="timeline__event__description">
        <b >Service from the comfort of your Home</b>
      </div>
    </div>
  </div>

</div>
</div>

<!-- Start Footer -->
<footer class="bg-dark" id="tempaltemo_footer">
  <div class="container">
      <div class="row">

          <div class="col-md-4 pt-5">
              <h2 class="h2 text-success border-bottom pb-3 border-light logo" style="padding-right: 7em;">Wheel's,UP</h2>
              <ul class="list-unstyled text-light footer-link-list">
                  <li>
                      <i class="fas fa-map-marker-alt fa-fw"></i>
                      India
                  </li>
                  <li>
                      <i class="fa fa-phone fa-fw"></i>
                      <a class="text-decoration-none" href="#">9555585554</a>
                  </li>
                  <li>
                      <i class="fa fa-envelope fa-fw"></i>
                      <a class="text-decoration-none" href="#">info@wheelsUP.com</a>
                  </li>
              </ul>
          </div>

          <div class="col-md-4 pt-5">
              <h2 class="h2 text-light border-bottom pb-3 border-light" style="padding-right: 13em;">Services</h2>
              <ul class="list-unstyled text-light footer-link-list" style="padding-left: 1em;">
                  <li><a class="text-decoration-none" href="#">Car AC Service</a></li>
                  <li><a class="text-decoration-none" href="#">Dent Repair</a></li>
                  <li><a class="text-decoration-none" href="#">Interior Detailing</a></li>
                  <li><a class="text-decoration-none" href="#">Milage+</a></li>
                  <li><a class="text-decoration-none" href="#">Express Car service</a></li>
                  <li><a class="text-decoration-none" href="#">General Bike service</a></li>
                  <li><a class="text-decoration-none" href="#">Premium Bike service</a></li>
              </ul>
          </div>

          <div class="col-md-4 pt-5">
              <h2 class="h2 text-light border-bottom pb-3 border-light" style="padding-right: 2em;">Further Info</h2>
              <ul class="list-unstyled text-light footer-link-list" style="padding-left: 1em;">
                  <li><a class="text-decoration-none" href="#">Home</a></li>
                  <li><a class="text-decoration-none" href="#">About Us</a></li>
                  <li><a class="text-decoration-none" href="#">Services</a></li>
                  <li><a class="text-decoration-none" href="#">Team</a></li>
              </ul>
          </div>

      </div>

      <div class="row text-light mb-4">
          <div class="col-12 mb-3">
              <div class="w-100 my-3 border-top border-light"></div>
          </div>
          <div class="col-auto me-auto">
              <ul class="list-inline text-left footer-icons">
                  <li class="list-inline-item border border-light rounded-circle text-center">
                      <a class="text-light text-decoration-none" target="_blank" href="#"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                  </li>
                  <li class="list-inline-item border border-light rounded-circle text-center">
                      <a class="text-light text-decoration-none" target="_blank" href="#"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                  </li>
                  <li class="list-inline-item border border-light rounded-circle text-center">
                      <a class="text-light text-decoration-none" target="_blank" href="#"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                  </li>
                  <li class="list-inline-item border border-light rounded-circle text-center">
                      <a class="text-light text-decoration-none" target="_blank" href="#"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                  </li>
              </ul>
          </div>
      </div>
  </div>

  <div class="w-100 bg-black py-3">
      <div class="container">
          <div class="row pt-2">
              <div class="col-12">
                  <p class="text-left text-light">
                      Copyright &copy; 2022  Wheel's,UP
                  </p>
              </div>
          </div>
      </div>
  </div>

</footer>
<!-- End Footer -->
