<app-header></app-header>

<html style="margin-top: 7em;">
<body>
    <div class="abcdef">
        <div class="txt" contenteditable="true">
            ABOUT US
          </div>

<iframe width="600" height="500" src="https://www.youtube.com/embed/PUkAIAIzA0I">
</iframe>

<div class="container" style="margin-left: 23em;margin-top: 8em;">
    <div class="content">
      <h3 style="color: green;">Wheels-Up!!</h3>
      <h4 style="font-family: 'Times New Roman', Times, serif;">Changing your cables and housing once every year to year and a half, and tuning your bike and car to perfection are a few of our services. The mantra for our professional tuning service is “we have your life in our hands”. We are able to understand the requirements of every client who is searching for the solutions for the bike and car services. We are very proud to guarantee safe-and-sound Service Providers of your cars and bikes.</h4>
    </div>
    <div class="flap"></div>
  </div>
      <br>
      <br>
    <div>
      
        <h2 class="text">
            WHEELS UP - OUR LOCATIONS
        </h2>
    
        <!-- Google Map Code -->
        <table>
            <tr>
      <td> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62575.03261606932!2d76.65831596598954!3d11.411934650053706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba8bd84b5f3d78d%3A0x179bdb14c93e3f42!2sOoty%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1669132830232!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>&nbsp;&nbsp;&nbsp;&nbsp;
      <td>  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31215.541787989983!2d78.46392610420973!3d12.047461921847846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bac657ad3485185%3A0x3415d3760b215623!2sHarur%2C%20Tamil%20Nadu%20636903!5e0!3m2!1sen!2sin!4v1669132764659!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>&nbsp;&nbsp;
      <td> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126042.35405578135!2d77.7375160858741!3d9.170383230765042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b06b26570998f29%3A0xd95cda8fab23619b!2sKovilpatti%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1669132882692!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>
    </tr>
    
    </table>
    
    </div>
    <br>
    <br>
    <br>

</div>

</body>
</html>
