<!-- packages section starts  -->
<app-header></app-header>
<div class="content">
  <h1 class="heading">CAR SERVICES</h1>
  <p class="description">Our Services</p><a class="card" href="#!">
    <div class="front" style="background-image: url(/assets/images/ser-1.jpeg)">
      <p>Car AC Service</p>
    </div>
    <div class="back">
      <div>
        <h4>SALIENT FEATURES</h4>
        <br>
        <ul style="list-style-type: disc;">
        <li>Restore your car's cooling efficiency</li>
        <li>AC cooling check</li>
        <li>AC gas refilling</li>
        </ul>
        <br>
        <br>

        <button class="button"> 
          <a class="button"  href="javascript:void(0)" routerLink="/booking">BOOK</a></button>      </div>
    </div></a><a class="card" href="#!">
    <div class="front" style="background-image: url(/assets/images/ser-2.jpg)">
      <p>Dent Repair & Body Sculpting</p>
    </div>
    <div class="back">
      <div>
        <h4>SALIENT FEATURES</h4>
        <br>
        <ul style="list-style-type: disc;">
        <li>Best-in class dent repair technique</li>
        <li>Get back your car's factory look</li>
        <li>OEM & Branded paints</li>
        <li>Competitive quotes</li>
      </ul>
        <br>
        <br>
        <button class="button"> 
          <a class="button"  href="javascript:void(0)" routerLink="/booking">BOOK</a></button>      </div>
    </div></a><a class="card" href="#!">
    <div class="front" style="background-image: url(/assets/images/ser-3.jpg)">
      <p>Interior Detailing</p>
    </div>
    <div class="back">
      <div>
        <h4>SALIENT FEATURES</h4>
        <br>
        <ul style="list-style-type: disc;">
        <li>Foam upholstery cleaning</li>
        <li>Stain removal</li>
        <li>AC vent cleaning</li>
      </ul>
        <br>
        <br>

        <button class="button"> 
          <a class="button"  href="javascript:void(0)" routerLink="/booking">BOOK</a></button>      </div>
    </div></a><a class="card" href="#!">
    <div class="front" style="background-image: url(/assets/images/ser-4.jpeg)">
      <p>Milage+</p>
    </div>
    <div class="back">
      <div>
        <h4>SALIENT FEATURES</h4>
        <br>
        <ul style="list-style-type: disc;">
        <li>Injector Inspection</li>
        <li>Examining spark plug</li>
        <li>EGR Inspection</li>
        <li>Cluth Assessment </li>
        <li>Cleansing catalytic Converter</li>
        <li>Laundering air filter</li>
      </ul>
        <br>
        <br>

        <button class="button"> 
          <a class="button"  href="javascript:void(0)" routerLink="/booking">BOOK</a></button>      </div>
    </div></a><a class="card" href="#!">
    <div class="front" style="background-image: url(/assets/images/ser-5.jpeg)">
      <p>Underchassis Rust Coating</p>
    </div>
    <div class="back">
      <div>
        <h4>SALIENT FEATURES</h4>
        <br>
        <ul style="list-style-type: disc;">
        <li>Best-in class dent repair techniques</li>
        <li>Get back your car's factory look</li>
        <li>OEM & Branded Paints</li>
        <li>Competitive Quotes </li>

      </ul>
        <br>
        <br>
        <button class="button"> 
          <a class="button"  href="javascript:void(0)" routerLink="/booking">BOOK</a></button>
      </div>
    </div></a><a class="card" href="#!">
    <div class="front" style="background-image: url(/assets/images/ser-6.jpeg)">
      <p>Express Car Service</p>
    </div>
    <div class="back">
      <div>
        <h4>SALIENT FEATURES</h4>
        <br>
        <ul style="list-style-type: disc;">
        <li>Full system check</li>
        <li>Engine Maintenance</li>
        <li>Engine Oil & Oil Filter Change</li>
        <li>Suspension Overhaul </li>
        <li>Electrical Maintance</li>

      </ul>
        <br>
        <br>
        <button class="button"> 
          <a class="button"  href="javascript:void(0)" routerLink="/booking">BOOK</a></button>      </div>
    </div></a>
</div>
<div class="content">
  <h1 class="heading">BIKE SERVICES</h1>
  <p class="description">Our Services</p><a class="card" href="#!">
    <div class="front" style="background-image: url(/assets/images/ser-7.jpg)">
      <p>General Bike Service</p>
    </div>
    <div class="back">
      <div>
        <h4>SALIENT FEATURES</h4>
        <br>
        <ul style="list-style-type: disc;">
        <li>Oil Change & Oil Filter Cleaning</li>
        <li>Brake Check Up</li>
        <li>Electrical Maintenance</li>
        <li>Engine Maintenance </li>
        <li>Chain & Sprocket Overhaul </li>

      </ul>
        <br>
        <br>
        <button class="button"> 
          <a class="button"  href="javascript:void(0)" routerLink="/booking">BOOK</a></button>      </div>
    </div></a><a class="card" href="#!">
    <div class="front" style="background-image: url(/assets/images/ser-8.jpg)">
      <p>Premium Bike Service</p>
    </div>
    <div class="back">
      <div>
        <h4>SALIENT FEATURES</h4>
        <br>
        <ul style="list-style-type: disc;">
        <li>Best-in class repair techniques</li>
        <li>Get back your bike shinier than ever</li>
        <li>Easily convenient</li>

      </ul>
        <br>
        <br>

        <button class="button"> 
        <a class="button"  href="javascript:void(0)" routerLink="/booking">BOOK</a></button>
      </div>
    </div></a>
</div>
