<app-header></app-header>
<body>
  <div class="box">
      <div class="card">
        <div class="imgBx">
          <img src="../assets/images/profile-1.png" alt="images">
        </div>
        <div class="details">
          <h2>VIBHISH R<br><span> AUTOMOTIVE ENGINEER</span></h2>
        </div>
      </div>

       <div class="card">
         <div class="imgBx">
          <img src="../assets/images/profile-2.jpg" alt="images">
         </div>
         <div class="details">
          <h2>VIGNESHRAJAN S<br><span>CAD DESIGN ENGINEER</span></h2>
          </div>
       </div>

       <div class="card">
         <div class="imgBx">
          <img src="../assets/images/profile-3.png" alt="images">
         </div>
         <div class="details">
          <h2>ASKAR E Z<br><span>RESEARCH AND DEVELOPMENT ENGINEER</span></h2>
          </div>
       </div>

  </div>
</body>


